*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.navbar-toggler{
    background-color: rgb(20, 20, 162);
}
.navbar{
    color: white;
    
}
.navbar li{
    margin:0px 20px;
    font-size: 17px;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.fas{
    color: rgb(28, 28, 192);
}
.main_header1{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.main_header_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding-left: 0px;
}
.main_header_right{
    display: flex;
    justify-content: center;
     padding-right: 0px;
     
}
.h2{
    font-size: 42px;
}
.text{
    color: rgb(21, 147, 147);
}
.main_header_left button{
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
   margin: 10px 5px;
    text-transform: uppercase;
    box-shadow: 0px 8px 6px -6px black;
    background-color: rgb(228 233 233);
}
.main_header_left button:hover{
    background-color: rgb(204, 207, 207);
}
footer{
    color: rgb(232, 230, 230);
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    margin-top: auto;
}

footer p{
    text-align: center;
    line-height: 100%;
    margin: 0px;
    font-size: 15px;
    
}
.col1{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* weather page style */
/* temp input fields style code */

.temp_form {
    width: 60%;
    position: relative;
    margin: 50px auto;
  }
  
  .temp_form input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 30px;
  }
  
  ::placeholder {
    color: #bfc1c8;
  }
  
  .temp_form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 30px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
  }
  
  .temp_form input[type="submit"]:hover {
    color: #009ad8;
    background-color: #fff;
  }
  
  /* temp detials show here */
  
  .tempInformation {
    width: 400px;
    margin: auto;
    min-height: 200px;
    background-color: #323544;
    border-radius: 10px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
  }
  
  .top_layer {
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px 0;
  }
  
  .top_layer p {
    color: #fff;
    font-weight: 300;
  }
  
  .main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .main_layer #city_name {
    padding: 20px 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 20px;
  }
  
  .main_layer .middle_layer {
    display: flex;
    justify-content: space-around;
    color: #fff;
  }
  
  .main_layer .middle_layer p,
  .main_layer .middle_layer .fa {
    font-size: 55px;
    font-weight: 900;
  }
  
  .fa {
    color: #b0b2b3;
  }
  
  sup {
    font-size: 60px;
    margin-top: -20px;
  }
  
  .data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
  }
  
  /* 404 error page */
  
  .main_header_left .errimg img {
    width: 600px;
    height: 300px;
  }
  
  /* footer style  */
  
  footer{
    color: rgb(232, 230, 230);
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    margin-top: auto;
}

footer p{
    text-align: center;
    line-height: 100%;
    margin: 0px;
    font-size: 15px;
    
}

/* about ki css *****************/
 
.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.span{
  color: rgb(21, 147, 147);
  font-size: 1.7rem;
  font-weight: bold;
}
.image{
  height: 500px;
  width: 350px;
}
.btn1{
  width: 145px;
}
.btn2{
  width: 145px;
  display: block;
  margin: auto;
}

/***********  contact form css  ********/

.reg{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  height:100px
}
.heading{
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.btn-primary{
  margin-top: 10px;
}
.rupesh{
  background-color: antiquewhite;
  height: 100vh;
}

/****************       login form      ******/














@media (max-width:780px) {
    .main_header_left{
        height: auto;
        margin: 50px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .main_header_right{
        height: auto;
        margin: 30px 15px;
    }
    .main_header1{
        display: flex;
        flex-direction: column-reverse;

    }
    
}

